
.dark-bg-btn{
    padding: 20px 32px;
    border-radius: 10px;
    background-color: rgba(128, 19, 35, 1);
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(255, 219, 88, 1) inset;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    gap: 12px;
    align-items: center;
}

@media screen and (max-width: 1200px)  {
    .gtstd-btn {
        padding: 20px;
    }
}