/* ===== Main Container ===== */
.mc-container {
  max-width: 1440px;
  padding: 80px;
  gap: 50px;
}

@media screen and (max-width: 880px) {
  .mc-container {
    padding: 80px 40px;
  }
}

@media screen and (max-width: 768px) {
  .mc-container {
    padding: 40px 20px !important;
  }
}


/* ===== Top Section (Search + Filter) ===== */
.mc-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

/* Reset nav padding */
.searchcontainer {
  padding: 0 !important;
  display: grid;
  grid-template-columns: 65% 35%;
}

.nav-filter {
  justify-content: flex-end;
}

@media screen and (max-width: 790px) {
  .searchcontainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }

  .nav-filter {
    justify-content: center;
  }

  .searchform {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .searchbar {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
}

@media screen and (max-width: 420px) {
  .searchform {
    flex-direction: column;
  }

  .searchform button {
    width: 100%;
  }
}

/* ===== Search Bar ===== */
.searchcontainer {
  width: 100%;
  max-width: 1440px;
}

.searchform, .nav-filter, .filter-dropdown {
  /* max-width: 630px;
  padding-right: -30px;
  justify-content: space-between; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchbar {
  width: 100%;
}

.searchcontainer input {
  outline: none;
  padding: 16px 20px 16px 10px;
  display: flex;
  width: 90%;
  align-items: center;
  gap: 10px;
  background-color: transparent;
}

.searchcontainer input:focus,
.searchcontainer input:active {
  background-color: transparent;
}

.input-search-icon {
  position: absolute;
  left: 10px;
}

.search-button,
.search-btn {
  padding: 16px 30px;
  border-radius: 10px;
  background: #801323;
  box-shadow: 0px 0px 5px 0px #ffdb58 inset;
  color: #fff;
  border: none;
  outline: none;
}

/* ===== Filter Dropdown ===== */
.filter-dropdown {
  border-radius: 15px;
  border: 1px solid rgba(13, 12, 18, 0.10);
  background: #FFF;
  padding: 10px 20px;
}

.filter-dropdown:focus, .filter-dropdown:active {
  outline: none;
  border: 1px solid #0d0c121a;
}

.filter-select {
  border-radius: 15px;
  border: 1px solid rgba(13, 12, 18, 0.1);
  background: #fff;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.listbox {
  /* position: absolute;
  right: 40px; */
  display: flex;
  padding: 20px;
  padding-left: 20px !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 15px;
  border: 1px solid rgba(13, 12, 18, 0.05);
  background: #FFF;
  box-shadow: 4px 10px 20px 0 rgba(0, 0, 0, 0.20);
}

.filter-option-case {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid rgba(13, 12, 18, 0.1);
}

.filteroption {
  margin: 0 auto;
  padding: 10px 20px !important;
  border-bottom: 1px solid rgba(13, 12, 18, 0.10);
  width: 100%;
}

/* ===== Sorting Mechanism ===== */
.sorting-mechanism {
  display: flex;
  align-items: center;
  gap: 16px;
  color: rgba(13, 12, 18, 0.5);
}

.sorting-mechanism select {
  border-radius: 15px;
  border: 1px solid rgba(13, 12, 18, 0.1);
  outline: none;
  background: #fff;
  padding: 10px 20px;
}

/* ===== Featured Courses Section ===== */
.featured-courses,
.courses-lineup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.featured-courses p {
  color: #0d0c12;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

/* ===== Course Card ===== */
.courseslist {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  margin: 0 auto;
  gap: 24px;
  align-self: stretch;
}

.courses-card {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border-radius: 5px;
  border-top: 1px solid #801323;
  background: #FFF;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.10);
  /* min-width: 300px; */
}

.courses-card-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.courses-preview-writeup {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.course-card-image {
  position: relative;
  height: 250px;
  width: 100%;
  overflow: hidden;
}

.course-card-image img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.category {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #fff;
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: rgba(13, 12, 18, 0.40);
  backdrop-filter: blur(2px);
}

.courses-preview-writeup p {
  color: #0D0C12;
  /* text-align: center; */
  font-family: "Schibsted Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.courses-preview-writeup span{
  color: #0D0C12;
  font-family: "Schibsted Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.courses-card-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.course-price {
  color: #0d0c12;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.view-course-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.view-course-link span {
  color: #801323;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ===== Responsive ===== */
@media screen and (max-width: 991px) {
  /* .courses-lineup {
    flex-direction: row;
  } */

  .courseslist {
    grid-template-columns: repeat(2, 49%);
    /* margin: 0 auto; */
  }

  .courseslist .courses-card:last-of-type {
    grid-column: span 2;
    justify-self: center;
    width: 50%;
  }

  nav {
    position: relative;
  }

  .gap-5 {
    gap: 1rem !important;
  }
}

@media screen and (max-width: 650px) {
  .courseslist {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .courseslist .courses-card:last-of-type {
    grid-column: span 1;
    justify-self: auto;
    width: 100%;
  }

  .courses-card {
    justify-content: center;
    text-align: left;
    gap: 12px !important;
    padding: 12px !important;
  }

  .courses-card-bottom {
    flex-direction: row;
  }
}
