.mc-container {
    padding: 80px;
    gap: 50px;
}

.mc-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    /* border: 1px solid yellow; */
}

.mc-form {
    gap: 8px;
    flex-direction: row;
}

nav{
    padding: 0 !important;
}

.filter-select {
    border-radius: 15px;
    border: 1px solid rgba(13, 12, 18, 0.10);
    background: #FFF;

    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filter-listbox {
    position: absolute;
    right: 40px;
    display: flex;
    padding: 20px;
    padding-left: 20px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid rgba(13, 12, 18, 0.05);
    background: #FFF;
    box-shadow: 4px 10px 20px 0 rgba(0, 0, 0, 0.20);
}

.filter-option-case {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid rgba(13, 12, 18, 0.10);
}

.filter-option {
    margin: 0 auto;
}

.searchbar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 12px; */
}

.searchbar-container input {
    outline: none;
    padding: 16px 20px;
    padding-left: 36px;
    border-radius: 15px;
    border: 1px solid rgba(13, 12, 18, 0.10);
    display: flex;
    width: 500px;
    align-items: center;
    gap: 10px;
}

.input-search-icon {
    position: absolute;
    left: 10px;
    
}

.search-button {
    padding: 20px 50px;
    border-radius: 10px;
    background: #801323;
    box-shadow: 0px 0px 5px 0px #FFDB58 inset;
    color: #fff;
    border: none;
    outline: none;
}

.sorting-mechanism {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    color: rgba(13, 12, 18, 0.5);
}

.sorting-mechanism select {
    border-radius: 15px;
    border: 1px solid rgba(13, 12, 18, 0.10);
    outline: none;
    background: #FFF;
    padding: 10px 20px;
    /* gap: 12px; */
/* 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 36px;
    height: 40px;
    padding: 10px 36px 10px 20px; */
}

.featured-courses, .courses-lineup {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.featured-courses p {
    color: #0D0C12;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.courseslist {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

@media screen and (max-width: 991px) {
    .courses-lineup {
        flex-direction: row;
    }
    
    .courseslist {
        flex-direction: column;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .courses-lineup {
        flex-direction: column;
    }

    .courses-card {
        justify-content: center;
        text-align: left;
        gap: 12px !important;
        padding: 12px !important;
    }

    .courses-card-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.courses-card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 5px;
    border-top: 1px solid #801323;
    background: #FFF;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.10);
}

.courses-card-bottom {
    width: 100%;
    margin: 0;
}

.course-price {
    color: #0D0C12;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.view-course-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

/* @media screen and (max-width: 1068px) {
    .mc-top {
        flex-direction: column;
        align-items: start;
        gap: 12px;
    }
} */

@media (max-width: 991.98px) {
    nav {
        position: relative;
    }
    .search-btn {
    padding: 16px 30px !important;
    border-radius: 10px;
    }
    .gap-5{
        gap: 1rem !important;
    }
}