.podcast-container {
    background-color: #8013230D;
    padding: 80px;
    gap: 50px;
    text-align: center;
}

.hp-podcast-header span {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;   
    font-size: 16px;
    padding: 20px 0;
    border-top: 5px solid;
    border-image: linear-gradient(90deg, #801323 0%, #FFDB58 100%);
    border-image-slice: 1;
}

.podcast-writeup {
    margin: 50px 0;
}

.podcast-writeup h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.podcast-writeup p {
    max-width: 65%;
    margin: 8px auto;
    font-family: "Schibsted Grotesk",sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.podcasts {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 24px;
    text-align: center;
}

.podcasts .preview {
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
}

.preview-img {
    max-height: 250px;
    border-radius: 5px;
    overflow: hidden;
}

.preview-writeup p {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
}

.podcasts-button button {
    margin: 0 auto;
    margin-top: 50px;
}

@media screen and (max-width: 860px) {
    .podcast-container {
        padding: 80px 40px;
    }

    .preview-img {
        max-height: 215px;
        border-radius: 5px;
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    .podcast-container {
        text-align: center;
    }
    
    .podcast-header span {
        font-size: 14px;
    }
    
    .podcast-writeup {
        margin: 32px 0;
    }
    
    .podcast-writeup h1 {
        font-size: 24px;
    }
    
    .podcast-writeup p {
        max-width: 100%;
        font-size: 14px;
    }
    
    .podcasts {
        gap: 28px;
    }
}


@media screen and (max-width: 650px) {
    .podcast-container {
        padding: 80px 20px;
    }

    .podcast-header {
        margin-top: 32px;
    }
    
    .podcast-header span {
        font-size: 12px;
    }
    
    .podcast-writeup {
        margin: 32px 0;
    }
    
    .podcast-writeup h1 {
        font-size: 20px;
    }
    
    .podcast-writeup p {
        font-size: 12px;
        max-width: 100%;
    }
    
    .podcasts {
        gap: 24px;
        grid-template-columns: repeat(1, 100%);
    }
    
    .podcasts .preview {
        gap: 8px;
        text-align: center;
        /* max-height: 300px; */
    }
    
    .podcasts .preview img {
        margin: 0 auto;
    }
}