/* Overview Section */
.about-coreal8 {
    background-color: rgba(128, 19, 35, 0.08);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.ac-writeup {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 12px;
    padding-left: 80px;
}


.ac-writeup h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    /* margin-bottom: 5px; */
}

.ac-writeup p {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.ac-image img {
    width: 100%;
}

@media screen and (max-width: 1150px) {
    .ac-writeup {
        padding-left: 40px;
    }
    
}

@media screen and (max-width: 985px) {
    .about-coreal8 {
        grid-template-columns: repeat(1, 1fr);
    }

    .ac-writeup {
        align-items: center;
        padding: 40px;
        text-align: center;
    }

    .ac-image img{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .about-coreal8 {
        gap: 24px;
    }
    
    .ac-writeup h1{
        font-size: 32px;
    }

    .ac-writeup p {
        font-family: "Schibsted Grotesk", sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
}

@media screen and (max-width: 525px) {
    .about-coreal8 {
        gap: 16px;
    }

    .ac-writeup {
        padding: 20px;
    }
    
    .ac-writeup h1{
        font-size: 24px;
    }

    .ac-writeup p {
        font-size: 12px;
    }
    
}

/* Coreal8 Expertise */
.coreal8-expertise {
    padding: 80px;
}

.expertise-text {
    text-align: center;
}

.expertise-text h2 {
    margin-bottom: 10px;
    font-family: "Schibsted Grotesk";
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}

.expertise-text p {
    width: 60%;
    margin: 0 auto;
    font-family: "Schibsted Grotesk";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(13, 12, 18, 0.7);
}

/* .expertise {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} */

.about-card {
    border-radius: 10px;
    border: 1px solid rgba(13, 12, 18, 0.10) !important;
    background: #FFF;
    transition: all 0.3s ease-in-out;
    display: flex;
    padding: 50px 20px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    text-align: center;
/* align-self: stretch; */
}

.about-card:hover {
    box-shadow: 0px 0px 30px 0px #00000026;
}

.about-card-text h2 {
    margin-bottom: 10px;
    font-family: "Schibsted Grotesk";
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
}

.about-card-text p {
    font-family: "Schibsted Grotesk";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 1024px) {
    .coreal8-expertise {
        padding: 80px 40px;
    }
    
    .expertise-text {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .coreal8-expertise {
        padding: 40px;
    }
    .expertise {
        grid-template-columns: repeat(1, 100%);
        gap: 16px;
    }
    
    .expertise-text p {
        font-size: 14px;
    }
}

@media screen and (max-width: 575px) {
    .coreal8-expertise {
        padding: 40px 20px;
    }

    .expertise-text h2 {
        font-size: 20px;
    }

    .expertise-text p {
        font-size: 12px;
    }
}


/* Our Mission and Vision */
.mission-vision {
    background-color: rgba(128, 19, 35, 0.08);
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}

.mv-writeup {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mv-writeup h3 {
    color: #801323;
    font-family: "Schibsted Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mv-writeup p {
    color: #0D0C12;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.mv-image img {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .mission-vision {
        padding: 40px;
    }
}

@media screen and (max-width: 860px) {
    .mission-vision {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .mv-writeup {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 525px) {
    .mission-vision {
        padding: 20px;
    }

    .mv-writeup h3 {
        font-size: 16px;
    }

    .mv-writeup p {
        font-size: 12px;
    }
}

/* OUR CORE VALUES */
.core-values {
    padding: 80px;
    text-align: center;
}

.cv-writeup h2 {
    color: #0D0C12;
    font-family: "Schibsted Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cv-writeup p {
    color: #0D0C12;
    text-align: center;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.values {
    grid-template-columns: repeat(3, 33%);
    gap: 10px;
}

.value-card {
    display: flex;
    padding: 50px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 5px;
    background: rgba(128, 19, 35, 0.05);
}

.value-card h3 {
    color: #0D0C12;
    text-align: center;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.value-card p {
    color: #0D0C12;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

@media screen and (max-width: 768px) {
    .core-values {
        padding: 40px;
        padding-top: 80px;
    }
    
    .values {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .value-card h3 {
        font-size: 16px;
    }

    .value-card p {
        font-size: 14px;
    }
}

@media screen and (max-width: 525px) {
    .core-values {
        padding: 20px;
        padding-top: 40px;
    }
    
    .values {
        grid-template-columns: repeat(1, 1fr);
    }

    .value-card p {
        font-size: 12px;
    }
}

/* OUR STORY SECTION */
.our-story-section {
    padding: 80px;
    background-color: rgb(128,19, 35, 1);
    color: white;
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 32px;
    /* justify-content: space-between; */
}

/* .story-section-mid img {
    width: 100%;
} */

.story-section-left, .story-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.story-text {
    gap: 12px;
}

.story-text h2 {
    margin-right: auto;
    text-align: left;
    color: #FFF;
    font-family: "Schibsted Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.story-text h4 {
    margin-right: auto;
    text-align: left;
    color: #FFF;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.story-text p {
    margin-right: auto;
    color: #FFF;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width: 990px) {
    .our-story-section {
        grid-template-columns: repeat(1, 1fr);
        padding: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .our-story-section {
        padding: 20px;
    }
}

/* OUR TEAM SECTION */
.our-team-section {
    background-color: rgba(128, 19, 35, 0.05);
    padding: 80px;
    text-align: center;
}

.our-team-writeup {
    margin: 0 auto;
}

.our-team-writeup h3 {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
}

.our-team-writeup p {
    width: 62%;
    margin: 0 auto;
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* margin-bottom: 12px; */
}

.team-members {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.member-img img {
    width: 100%;
    margin-bottom: 24px;
}

.member p {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
}

.member span {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
@media screen and (max-width: 990px) {
    .our-team-section {
        padding: 40px;
    }

    .our-team-writeup {
        max-width: 100%;
        margin: 0 auto;
    }

    .our-team-writeup h3 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .our-team-writeup p {
        font-size: 14px;
    }

    .team-members {
        gap: 24px;
    }

    .member-img img {
        margin-bottom: 14px;
    }

    .member p {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .member span {
        font-size: 12px;
    }
}

@media screen and (max-width: 720px) {
    .our-team-section {
        padding: 20px;
    }

    .our-team-writeup h3 {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .our-team-writeup p {
        font-size: 14px;
        width: 100%;
    }

    .team-members {
        gap: 16px;
    }

    .member-img img {
        margin-bottom: 8px;
    }

    .member p {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .member span {
        font-size: 12px;
    }
}

@media screen and (max-width: 440px) {
    .our-team-writeup h3 {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .our-team-writeup p {
        font-size: 12px;
    }

    .team-members {
        gap: 12px;
    }

    .member p {
        font-size: 12px;
    }

    .member span {
        font-size: 10px;
    }
}