.leadership-container {
    background-color: #FFDB581A;
    padding: 80px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.leadership-header {
    text-align: center;
    margin: 0 auto;
}

.leadership-header span {
    text-align: center;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;   
    font-size: 16px;
    padding: 20px 0;
    border-top: 5px solid;
    border-image: linear-gradient(90deg, #801323 0%, #FFDB58 100%);
    border-image-slice: 1;
}

.leadership-writeup {
    width: 90%;
}

.leadership-writeup h1 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 40px;
}

.leadership-main-section {
    display: grid;
    grid-template-columns: 48% 52%;
}

.leadership-words {
    padding-top: 30px;
}

.word-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* padding-top: 30px; */
}

.word {
    margin: 20px 0;
}

.word span {
    padding: 20px;
    border: 1px solid #0D0C1233;
    border-radius: 20px;
}

@media screen and (max-width: 940px) {
    .leadership-writeup h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 844px){
    .leadership-container {
        padding: 80px 40px;
        text-align: center;
    }

    .leadership-main-section {
        display: flex;
        flex-direction: column;
    }

    .flex-column {
        gap: 32px;
    }
    
    .leadership-writeup h1 {
        font-size: 24px;
    }

    .leadership-writeup p {
        font-size: 14px;
    }

    .leadership-words {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .word-container {
        justify-content: center;
    }
    
    .leadership-writeup {
        width: 100%;
    }

    .word span {
        font-size: 14px;
    }
}

@media screen and (max-width: 525px) {
    .leadership-container {
        padding: 40px 20px;
    }
    
    .leadership-writeup h1 {
        font-size: 20px;
    }

    .leadership-writeup p {
        font-size: 12px;
    }
    
    .word span {
        font-size: 12px;
    }
}