.faq-text h3 {
    color: #0D0C12;
    font-family: "Schibsted Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section-header span {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;   
    font-size: 16px;
    padding: 20px 0;
    border-top: 5px solid;
    border-image: linear-gradient(90deg, #801323 0%, #FFDB58 100%);
    border-image-slice: 1;
}

.hidden-faq p {
    color: #0D0C12;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.faq-card {
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 100%; */
    padding: 20px 0;
    border-bottom: 1px solid rgba(13, 12, 18, 0.10);
}

.faq-text {
    text-align: left;
}

.faq-answer {
    width: 80%;
}

.dropdown-circle {
    width: 20px !important;
    height: 20px;
}

.dropdown-circle {
    border: none;
    outline: none;
    background-color: transparent;
}
