.testimonial-container {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 50px;
    align-items: start;
    text-align: left;
    background-color: rgba(128, 19, 35, 0.1);
}

.testimonial-writeup {
    /* margin-top: 50px; */
}

.testimonial-writeup h1 {
    color: #0D0C12;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.testimonial-writeup p {
    width: 100%;
    color: #0D0C12;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 900px) {
    .testimonial-container {
        grid-template-columns: repeat(1, 100%);
        text-align: center;
    }

    .testimonial-writeup {
        margin-top: 32px;
    }
    
    .testimonial-writeup h1 {
        font-size: 24px;
    }
    
    .testimonial-writeup p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .testimonial-container {
        padding: 80px 40px;
    }
}

@media screen and (max-width: 525px) {
    .testimonial-container {
        padding: 80px 20px;
    }
}