#login-main {
    padding: 80px 0;
}

.login-modal-content {
    /* width: 40%; */
    /* overflow-y: scroll; */
    padding: 30px 50px;
    text-align: center;
    gap: 10px;
}

@media screen and (max-width: 680px) {
    .login-modal-content {
        padding: 30px;
    }
}

@media screen and (max-width: 560px) {
    .login-modal-content {
        width: 90%;
        padding: 30px;
    }
}

@media screen and (max-width: 410px) {
    .login-modal-content {
        padding: 20px;
    }
}

.close-btn {
    color: white;
    border: 1px solid white !important;
}

.modal-content form input,
.modal-content form textarea,
.modal-content form select {
  padding: 8px 10px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: none;
}

.modal-content form input:focus,
.modal-content form textarea:focus,
.modal-content form input:active,
.modal-content form textarea:active,
.modal-content form select:focus,
.modal-content form select:active {
  /* border: none; */
  outline: none;
}

/* @media screen and (max-height: 790px) {
    .login-modal-content {
        max-height: 585px;
    }
} */

.modal-intro-text {
    gap: 12px;
}

.login-logo {
    margin: 0 auto;
    width: 10%;
}

.google-login {
    width: 100%;
    padding: 5px 8px;
    border-radius: 10px;
    background: rgba(128, 19, 35, 0.05);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    gap: 5px;
}

.separatOR{
    font-size: 8px;
}

#email-login {
    gap: 8px;
}

#email-login label {
    font-size: 12px;
}

.password-input-wrapper {
    position: relative;
    width: 100%;
}

.password-input-wrapper input {
    width: 100%;
}

.toggle-password-btn {
    position: absolute;
    right: 10px;
    top: 10%;
}

.form-options, .remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.forgot-password {
    color: purple;
}

.remember-me {
    gap: 12px;
    cursor: pointer;
}

.remember-me input {
    cursor: pointer;
}

.register-link {
    margin: 0 auto;
    font-size: 12px;
}

#login-button {
    margin-top: 24px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

.wrong-email:focus {
    border: 1px solid #E33629;
}

.right-email:focus {
    border: 1px solid green;
}

.error-text {
    font-size: 10px;
    color: red;
}