.cart-intro {
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border-bottom: 2px solid rgba(13, 12, 18, 0.05);
    background: #FFF;
}

.ci-btn-container {
    width: fit-content;
}

.cartmain {
    display: grid;
    grid-template-columns: 65% 35%;
}

.show-courses {
    padding: 80px;
}

.show-courses h3 {
    color: #0D0C12;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: rgba(13, 12, 18, 1);
}

.cartpayment {
    background: rgba(128, 19, 35, 0.05);
}

@media screen and (max-width: 980px) {
    .cartmain {
        grid-template-columns: repeat(1, 1fr);
    }
    .show-courses {
        padding: 80px 40px;
    }
    .cart-intro-text h2 {
        font-size: 16px;
    }
    .cart-intro-text span {
        font-size: 12px;
    }

    .ci-btn {
        font-size: 12px;
    }
}