/* OVERVIEW SECTION */
.counseling-overview {
    padding: 80px;
    text-align: center;
    background-color: rgba(128, 19, 35, 0.08);
    font-family: "Schibsted Grotesk", sans-serif;
}

.counseling-overview-writeup {
    width: 60%;
    margin: 0 auto;
}

.counseling-overview-writeup h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 12px;
}

.counseling-overview-writeup p {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.9;
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 900px){
    .counseling-overview-writeup h1 {
        font-size: 28px;
    }

    .counseling-overview-writeup p {
        font-size: 16px;
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .counseling-overview {
        padding: 80px 40px;
    }
    
    .counseling-overview-writeup h1 {
        font-size: 24px;
    }
    
    .counseling-overview-writeup p {
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width: 525px) {
    .counseling-overview {
        padding: 40px 20px;
    }
    
    .counseling-overview-writeup h1 {
        font-size: 20px;
    }

}

/* COUNSELING APPROACH */
.counseling-approach {
    padding: 80px;
    text-align: center;
}

.counseling-approach-writeup h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
}

.counseling-approach-writeup p {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.9;
    width: 60%;
    margin: 0 auto;
}

.approach-image, 
.approach-image img {
    width: 100%;
}


@media screen and (max-width: 1024px) {
    .counseling-approach-writeup p {
        width: 80%;
    }
}

@media screen and (max-width: 900px){
    .counseling-approach {
        padding: 40px;
    }

    .counseling-approach-writeup h2 {
        font-size: 20px;
    }

    .counseling-approach-writeup p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {

    .counseling-approach-writeup {
        width: 100%;
    }
}

@media screen and (max-width: 525px) {
    .counseling-approach {
        padding: 40px 20px;
    }
}

/* COUNSELING SUPPORT */
.counseling-support {
    padding: 80px;
    background-color: rgba(128, 19, 35, 0.08);
    text-align: center;
}

.counseling-support-writeup h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
}

.counseling-support-writeup p {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.9;
    width: 60%;
    margin: 0 auto;
}

.support {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.counseling-support-card {
    background-color: rgba(255, 255, 255, 1);
    padding: 50px 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.support-card-img {
    width: 100%;
    text-align: center;
}

.support-card-img img {
    margin: 0 auto !important;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(128, 19, 35, 0.10) 0%, rgba(255, 219, 88, 0.10) 100%);
    padding: 10px;
}

.support-card-text h2 {
    font-size: 16px;
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 600;
    margin-bottom: 12px;
}

.support-card-text p {
    font-size: 16px;
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width: 1200px) {
    .counseling-support-card {
        padding: 50px 10px;
    }

    .support {
        gap: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .counseling-support-card {
        padding: 50px 20px;
    }

    .support {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

@media screen and (max-width: 768px) {
    .counseling-support {
        padding: 40px;
    }
    
    .counseling-support-writeup h2 {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .counseling-support-writeup p {
        font-size: 14px;
        width: 80%;
    }

}

@media screen and (max-width: 600px) {
    .counseling-support {
        padding: 40px 20px;
    }
    
    .support {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
    
    .counseling-support-writeup h2 {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .counseling-support-writeup p {
        font-size: 14px;
        width: 80%;
    }
}

/* BOOK COUNSELING */
.book-counseling {
    color: white;
    background-color: rgba(128, 19, 35, 1);
    padding: 80px;
}

.booking-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
}

/* .booking-writeup-heading {
    margin-bottom: 20px;
} */

.booking-writeup-heading h2 {
    color: #FFF;
    font-family: "Schibsted Grotesk";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
} 

.booking-writeup-heading p {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
} 

.booking-writeup-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.booking-writeup-list li {
    display: flex;
    gap: 12px;
    align-items: start;
}

.booking-writeup-list li svg {
    margin-top: 5px;
}

.booking-writeup-list li h3 {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}

.booking-writeup-list li p {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
}

.booking-button {
    box-shadow: 0px 0px 5px 0px rgba(255, 219, 88, 1) inset;
    width: fit-content;
    /* margin: 0 auto; */
    margin-top: 24px;
}

.booking-button button {
    color: white;
    background-color: rgba(128, 19, 35, 1);
}

.booking-button button:hover {
    background-color: rgba(128, 19, 35, 0.8);
    color: white;
}

.booking-image,
.booking-image img {
    max-width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 990px) {
    .booking-main {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .book-counseling {
        padding: 40px;
    }
}

/* COUNSELING-PAYMENT */
.co-payment-options {
    padding: 80px;
    text-align: center;
}

.copo-heading h2 { 
    font-size: 24px;
    font-weight: 700;
    font-family: "Schibsted Grotesk", sans-serif;
}

.copo-heading p { 
    font-size: 16px;
    font-weight: 400;
    font-family: "Schibsted Grotesk", sans-serif;
}

.copo-payment-plans {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.plan-type {
    border: 1px solid rgba(13, 12, 18, 0.1);
    padding: 30px 20px;
    border-radius: 10px;
    text-align: left;
    gap: 12px;
    box-shadow: none !important;
    transition: all 0.3s ease-in-out;
}

.plan-type:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.10) !important;
}

.plan-type h3 {
    font-size: 20px;
    font-weight: 600;
}

.plan-type h2 {
    font-size: 32px;
    font-weight: 700;
}

.per-session,
.plan-type p {
    font-size: 16px;
    font-weight: 400;
}

.start-plan-button {
    width: 100%;
    display: flex;
    justify-content: end;
}

.start-plan-button button {
    background: transparent;
    border: 1px solid rgba(128, 19, 35, 1);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 10px;
}

.co-payment-info {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.co-payment-info h4 {
    font-size: 16px;
    font-weight: 600;
}

.co-payment-info p {
    font-size: 16px;
    font-weight: 400;
}

.info-icon {
    /* max-width: fit-content; */
    margin: 0 auto;
    cursor: pointer;
    /* padding: 5px 15px;
    border-radius: 50%;
    color: white;
    background-color: black; */
}

.line-separator {
    width: 50%;
    margin: 0 auto;
    border: 1px solid;
    border-image: linear-gradient(90deg, rgba(255, 219, 88, 0.5) 0%, rgba(128, 19, 35, 0.5) 50%, rgba(255, 219, 88, 0.5) 100%);
    border-image-slice: 1;
}

@media screen and (max-width: 1050px) {
    .co-payment-options {
        padding: 40px;
    }
}

@media screen and (max-width: 970px) {
    .copo-payment-plans {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .co-payment-info {
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    .co-payment-options {
        padding: 40px 20px;
    }

    .co-payment-info {
        width: 80%;
    }
}

@media screen and (max-width: 430px) {
    .co-payment-info {
        width: 100%;
    }
}

/* COUNSELLING FAQS */
.counselling-faqs {
    background: rgba(128, 19, 35, 0.05);
}