.services-container {
    background-color: rgba(128, 19, 35, 0.05);
    padding: 80px;
    text-align: center;
    width: 100%;
    /* max-width: 1280px;
    overflow: hidden; */
}

/* .service-header {
    padding: 20px 0;
} */

.service-header span {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;   
    font-size: 16px;
    padding: 20px 0;
    border-top: 5px solid;
    border-image: linear-gradient(90deg, #801323 0%, #FFDB58 100%);
    border-image-slice: 1;
}

.service-writeup {
    margin: 50px 0;
}

.service-writeup h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    /* margin: 0; */
}

.service-writeup p {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 24px;
}

.services .card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: "Schibsted Grotesk", sans-serif;
    background-color: rgba(255, 255, 255, 1);
    line-height: 100%;
    padding: 50px 20px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.services .card:hover {
    box-shadow: 0px 0px 30px 0px #00000026;
}

/* .session-card-img {
    margin-bottom: 12px;
} */

.session-card-text h2 {
    font-weight: 600;
    font-size: 20px;
    /* margin: 0; */
    margin-bottom: 12px;
}

.session-card-text p {
    color: rgba(13, 12, 18, 0.5);
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.gradient-button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    font-family: "Schibsted Grotesk", sans-serif;
    /* font-weight: 500;
    font-size: 16px; */
    transition: all 0.3s ease-in-out;
}

.gradient-button:hover {
    background-color: aliceblue;
}

.card-button-container {
    width: 100%;
    margin: 0 auto;
}

.card-button {
    width: 100%;
    padding: 20px 49px;
}

.services-button button {
    margin: 0 auto;
    margin-top: 50px;
}

@media screen and (max-width: 1024px) {
    .services-container {
        padding: 40px;
    }
}

@media screen and (max-width: 768px) {
    .service-header span {
        font-size: 14px;
    }
    
    .service-writeup {
        margin: 32px 0;
    }
    
    .service-writeup h1 {
        font-size: 24px;
    }
    
    .service-writeup p {
        font-size: 14px;
    }
    
    .services {
        grid-template-columns: repeat(1, 100%);
        gap: 16px;
    }
    
    .services .card {
        padding: 30px 15px;
        margin: 0 auto;
    }
    
    .services img {
        margin-bottom: 12px;
    }
    
    .services .card h2 {
        font-size: 16px;
        margin-bottom: 12px;
    }
    
    .services .card p {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {
    .services-container {
        padding: 20px;
    }

    .service-header {
        margin-top: 32px;
    }
    
    .service-header span {
        font-size: 12px;
    }
    
    .service-writeup {
        margin: 32px 0;
    }
    
    .service-writeup h1 {
        font-size: 20px;
    }
    
    .service-writeup p {
        font-size: 12px;
    }
    
    .services {
        gap: 16px;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .services .card {
        padding: 20px 15px;
    }
    
    .services img {
        margin-bottom: 12px;
    }
    
    .services .card h2 {
        font-size: 14px;
    }
    
    .services .card p {
        font-size: 12px;
    }
}