/* GENERAL NAVBAR STYLES */
.navbar {
  height: 100px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 103;
  padding: 0 80px !important;
  border-bottom: 1px solid #0d0c120d;
}

.container-fluid {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar .nav-link {
  position: relative;
  font-weight: 500;
  color: #333;
  padding: 0 !important;
}

/* .navbar .nav-link:hover {
  color: #007bff;
} */

/* ACTIVE LINK UNDERLINE */
.logo.active-link {
  position: relative;
}

.nav-link {
  cursor: pointer !important;
}

.navbar .nav-item.active-link .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background: linear-gradient(270deg, #ffdb58 0%, #801323 100%);
}

.logo.active-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -12px;
  left: 0;
  background: linear-gradient(270deg, #ffdb58 0%, #801323 100%);
}

.dropdown-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover,
.dropdown-link:hover {
  color: black
}

.gradient-button-container {
  width: fit-content;
  padding: 2px;
  border-radius: 10px;
  background: linear-gradient(90deg, #ffdb58 0%, #801323 100%);
  /* display: inline-block; */
}

.gradient-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-family: "Schibsted Grotesk", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #0D0C12;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.gradient-button:hover {
  background-color: white;
  color: #0D0C12;
}

/* DROPDOWN WRAPPER */
.navbar .nav-item.dropdown {
  position: relative;
}

/* CUSTOM DROPDOWN STYLES */
.custom-dropdown {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 220px;
  /* padding: 10px 0; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
}

.custom-dropdown .dropdown-item {
  padding: 10px 16px;
  white-space: nowrap;
  color: #333;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-dropdown .dropdown-item:hover {
  background-color: #f0f0f0;
  color: #000;
}

@media screen and (max-width: 1130px) {
  .navbar {
    padding: 0 40px !important;
  }
}

/* DESKTOP: SHOW ON HOVER */
@media (min-width: 1024px) {
  /* .navbar .dropdown:hover .custom-dropdown {
    display: block;
  } */

  .navbar .dropdown .rotate-icon {
    transition: all 0.35s ease-in-out;
    rotate: 180deg;
  }

  /* .navbar .dropdown:hover .rotate-icon {
  } */

  .dropdown-label {
    cursor: default;
  }
}

/* MOBILE: ALWAYS SHOW ON CLICK IF collapse is active */
@media (max-width: 991.98px) {
  .navbar-collapse {
    max-height: 100vh;
    overflow-y: auto;
  }

  .navbar.custom-dropdown {
    /* position: static; */
    box-shadow: none;
    /* padding-left: 16px; */
    padding: 0 !important;
  }

  nav {
    position: relative;
  }

  .navbar-nav {
    width: 50%;
    max-height: 90vh;
    overflow-y: auto;
    position: absolute;
    top: 90%;
    right: 0;
    background-color: #fff;
    padding: 20px !important;
    padding-left: 30px;
    margin: 0 !important;
    overflow: scroll;
  }

  .navbar-nav .nav-item {
    margin: 20px 0;
    /* border-bottom: #0D0C12 0.5px solid; */
  }

  /* .navbar-nav .nav-item:hover {
    border-bottom: 1px solid #0D0C12;
  }  */

  .navbar .dropdown .custom-dropdown {
    display: block;
    box-shadow: none;
  }

  .dropdown-label {
    font-weight: 600;
    display: flex;
    gap: 5px;
  }

  .navbar-toggler, 
  .navbar-toggler:active, 
  .navbar-toggler img {
    border: none !important;
    outline: none !important;
  }

  .navbar-toggler:focus,
  .navbar-toggler:focus-visible,
  .navbar-toggler img:focus {
    outline: none !important;
    box-shadow: none !important;
  }

}

@media screen and (max-width: 768px) {
  .navbar-nav {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  /* .navbar {
    padding: 0 20px !important;
  } */

  .navbar-nav {
    width: 100%;
  }

  .navbar-nav .nav-item {
    margin: 20px auto;
  }

}

/* NAVBAR ICONS */
.nav-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
}
