/* Core Navbar Styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background-color: #ffffff;
  font-family: "Schibsted Grotesk", sans-serif;
  height: 100px;
  width: 100%;
  max-width: 1440px;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0d0c120d;
  gap: 5px;
  /* position: relative; */
}

.logo.active-link {
  position: relative;
  /* padding-bottom: 12px; */
}
/* 
.logo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(270deg, #FFDB58 0%, #801323 100%);
} */

.nav-link.active-link {
  position: relative;
  /* padding-bottom: 12px; */
}

.nav-link.active-link::after,
.logo.active-link::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, #ffdb58 0%, #801323 100%);
}

/* .logo img {
  max-width: 123px;
} */

/* Nav links default (desktop) */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  transition: all 0.4s ease;
}

.hidden-button {
  display: none;
}

.gradient-button-container {
  padding: 2px;
  border-radius: 10px;
  background: linear-gradient(90deg, #ffdb58 0%, #801323 100%);
  /* display: inline-block; */
}

.gradient-button {
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-family: "Schibsted Grotesk", sans-serif;
  /* font-weight: 500;
    font-size: 16px; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.gradient-button:hover {
  background-color: aliceblue;
}

.nav-link,
.gtstd-btn {
  cursor: pointer;
  text-decoration: none;
}

.nav-link a {
  color: inherit;
  text-decoration: none;
}

.nav-link a:hover {
  color: inherit;
  text-decoration: none;
}

.dropdown {
  display: flex;
  /* gap: 6px; */
  align-items: center;
}

.menu {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu img {
  display: none;
  cursor: pointer;
}

/* .showing-button {
    position: relative;
} */

.dropdown-icon {
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

/* Responsive */
@media screen and (max-width: 1334px) {
  nav {
    padding: 0 40px;
  }

  .gradient-button-container {
    padding: 2px;
  }

  .gradient-button {
    padding: 20px;
  }

  .logo {
    margin-right: -15px;
  }
}

@media screen and (max-width: 1234px) {
  ul {
    gap: 10px;
  }
}

@media screen and (max-width: 1138px) {
  ul {
    gap: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .logo img {
    max-width: 100px;
  }

  ul {
    display: none;
  }

  .showing-button {
    display: none;
  }

  .hidden-button {
    display: block;
  }

  .menu img {
    display: inline-block;
    width: 28px;
  }

  .active {
    position: absolute;
    top: 100px;
    right: 0;
    margin: 0;
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
  }

  .active .nav-link {
    padding: 20px;
    cursor: pointer;
  }

  /* Style for <Link> in mobile menu */
  .active .nav-link a {
    color: inherit;
    text-decoration: none;
  }

  .active .nav-link:hover {
    background-color: grey;
  }

  .active .nav-link a:hover {
    color: inherit;
    text-decoration: none;
  }

  .inactive {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  nav {
    padding: 0 20px;
  }

  .logo img {
    max-width: 80px;
  }
}
