.courses-overview {
    background-color: rgba(128, 19, 35, 0.05);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
}

.courses-login-button {
    padding: 15px 20px;
    width: 150px;
}

.co-writeup {
    padding-left: 80px;
    /* padding-right: 0; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.co-writeup-text h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 5px;
}

.co-writeup-text span {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.co-writeup-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.co-right-side img{
    width: 100%;
    height: 100%;
}

/* @media screen and (max-width: 1240px) {
    .co-writeup-text h2 {
        font-size: 42px;
    }
} */

@media screen and (max-width: 1150px) {
    .co-writeup {
        padding-left: 40px;
        gap: 24px;
    }

    .co-writeup-text h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 1130px) {
    .co-writeup-text span {
        font-size: 14px;
    }
}

@media screen and (max-width: 985px) {
    .courses-overview {
        grid-template-columns: repeat(1, 100%);
        gap: 24px;
    }

    .co-writeup {
        padding: 40px;
        /* padding: 0; */
    }
    
    .co-writeup-buttons {
        justify-content: center;
        gap: 20px;
    }

    .co-writeup-text{
        text-align: center;
    }

    .co-right-side, .co-right-side img { 
        /* border: 1px solid darkblue; */
        width: 100%;
        /* height: 50%; */
    }

    /* .co-right-side img{
        width: 100%;
        height: 100%;
    } */
}

@media screen and (max-width: 930px) {
}

@media screen and (max-width: 475px) {
    .co-writeup {
        padding: 20px;
        /* padding-bottom: 40px; */
    }
    
    .co-writeup-text h1 {
        font-size: 28px;
    }
    
    .co-writeup-text span {
        font-size: 12px;
    }

}

@media screen and (max-width: 365px) {
    .co-writeup-buttons {
        flex-direction: column;
        gap: 10px;
    }
}

/* COURSES TESTIMONIAL */
.courses-testimonial {
    background: rgba(128, 19, 35, 0.10);
    padding: 80px;
    text-align: center;
}

.ct-intro h1 {
    color: #0D0C12;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ct-intro p {
    color: rgba(13, 12, 18, 0.80);
    text-align: center;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* FAQs Section */
.faqs-container {
    padding: 80px;
    text-align: center;
}

.faqs-intro h1 {
    color: #0D0C12;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* LAST COURSES CONTAINER */
.last-container {
    /* z-index: ; */
    background: #801323;
    gap: 32px;
    color: #fff;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 80px !important;
}

.lc-images {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.lc-images img {
    max-width: 80px;
    max-height: 80px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    margin-right: -20px;
    border-radius: 100px;
    border: 2px solid #FFDB58;
    /* background: lightgray 50% / cover no-repeat; */
}

/* .lc-text {
    width: ;
} */

/* .lc-button-container {
    padding: 2px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, #FFDB58 100%);
    display: inline-block;
} */

.lc-button {
    border-radius: 10px;
    background: #801323;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 #FFDB58 inset;
    color: white;
}

/* Background-icons */
.last-container::before {
  content: '';
  background: rgba(255, 219, 88, 0.35);
  filter: blur(60px);
  width: 200px;
  height: 200px;
  position: absolute;
  left: 30px;
  top: 10px;
  background-size: contain;
}

.last-container::after {
  content: '';
  background: rgba(255, 219, 88, 0.35);
  filter: blur(60px);
  width: 200px;
  height: 200px;
  position: absolute;
  right: 88px;
  background-size: contain;
}

.last-container .icon-3 {
  background: rgba(255, 219, 88, 0.35);
  filter: blur(60px);
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  position: absolute;
  left: 400px;
  bottom: 52px;
  rotate: 180deg;
  background-size: contain;
}

.last-container .icon-4 {
  background: rgba(255, 219, 88, 0.35);
  filter: blur(60px);
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  position: absolute;
  right: 290px;
  bottom: 2px;
  rotate: 90deg;
  background-size: contain;
}