.spotlight{
padding: 40px 80px;


}

.spotlight h3{
    color: #0D0C12;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 20px;
}
.spotlight-item{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16px;
}
.spotlight-item h3{
    color: #0D0C12;
font-family: "Schibsted Grotesk";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
align-self: stretch;
}
.spotlight-item p{
    color: #0D0C12;
font-family: "Schibsted Grotesk";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: stretch;
}
.spotlight-image img{
    width: 200px !important;

}
.spotlight-text h2{
    color: #0D0C12;
font-family: "Schibsted Grotesk";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
align-self: stretch;
padding-top: 15px;
}
.spotlight-text p{
    padding-top: 10px;
    color: #0D0C12;
font-family: "Schibsted Grotesk";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.spotlight-text img{
    margin-top: 10px;
    width: 24px;
height: 24px;

aspect-ratio: 1/1;
}
.episode-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.pagination{
    display: flex;
width: 60px;
height: 60px;
padding: 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
border: 1px solid #0D0C12;

}
.pagination-num{
    justify-content: center;
   
    gap:10px
}
.pagination p{
    color: #0D0C12;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.red-section{
    display: flex;
padding: 40px 80px;
justify-content: center;
align-items: center;
gap: 50px;
align-self: stretch;
background: #801323;
}
.red-section h2{
    color: #FFF;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 514px;
}
.red-section-right{
    display: flex;
width: 679px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
}
.red-section-item{
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
background: rgba(255, 255, 255, 0.05);
}

.red-section-item h3{
    color: #FFF;
font-family: "Schibsted Grotesk";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.red-section-item p{
    color: #FFF;
font-family: "Schibsted Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.app-grid{
    display: flex;
    width: 100%;
align-items: flex-start;
align-content: flex-start;
gap: 12px;
flex-wrap: wrap;

}
.image img{
    width: 350px;
}
.all-episodes{
    display: flex;
padding: 40px 80px 80px 80px !important;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 50px;
align-self: stretch;
}
.featured-voices{
    display: flex;
padding: 80px;
flex-direction: column;
justify-content: flex-end;
align-items: center;
gap: 50px;
align-self: stretch;
background: rgba(128, 19, 35, 0.10);
}
.featured-voices h1{
    color: #0D0C12;
text-align: center;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.voices{
    display: flex;


justify-content: center;
align-items: center;
gap: 20px;
align-self: stretch;
}
.voices img{
    width: 301px;
    height: 301px;
}