.ct-card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.ct-author {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.ct-custom-nav {
    margin: 0 auto;
}

.author strong {
    color: #0D0C12;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.author p {
    color: #0D0C12;
    font-family: "Schibsted Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ct-card-quote {
    color: #0D0C12;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}