.aboutus-container {
    background-color: rgba(128, 19, 35, 1);
    padding: 40px 80px;
    color: white;
}

.aboutus-container h3 {
    text-align: center;
}

@media screen and (max-width: 856px) {
    .aboutus-container {
        padding: 40px;
    }
}

@media screen and (max-width: 415px) {
    .aboutus-container {
        padding: 10px;
    }
}