.cartpayment-container {
    display: flex;
    /* width: 500px; */
    padding: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    align-self: stretch;
}

.cartpayment-container h1 {
    color: #0D0C12;
    font-family: "Schibsted Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.flex-between-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #0D0C12;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.total-amount {
    color: #0D0C12;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.payment-button {
    color: white;
    border-radius: 10px;
    background: #801323;
    box-shadow: 0 0 5px 0 #FFDB58 inset;
    display: flex;
    padding: 20px 53px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.hidden-fees {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.cp-info-icon {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 1190px) {
    .cartpayment-container {
        padding: 80px 40px;
    }

    .hidden-fees {
        margin: 0 auto;
    }
}

@media screen and (max-width: 980px) {
    .cartpayment-container {
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .cartpayment-container {    
        width: 80%;
        padding: 40px;
    }

    .cart-intro {
        padding: 40px;
    }


    .hidden-fees p {
        font-size: 14px;
    }
}

@media screen and (max-width: 550px) {
    .ci-btn-container {
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    .cartpayment-container {
        width: 100%;
    }
}